<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FeedbackApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill flex-shrink-0" aria-hidden="true"></i>
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="feedback">
                <i class="bi bi-chat-dots-fill flex-shrink-0" aria-hidden="true"></i>
                <span>Submit Feedback</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="feedback/list">
                <i class="bi bi-list-ul flex-shrink-0" aria-hidden="true"></i>
                <span>Feedback List</span>
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
