<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ApiDemo</a>
    </div>
</div>

<div class="bg-light border-end" style="min-height: 100vh;">
    <nav class="nav nav-pills rounded-0 flex-column">
        <NavLink class="nav-link rounded-0" href="/fetch-posts" Match="NavLinkMatch.Prefix">
            <span class="bi bi-list-ul"></span> Fetch Posts
        </NavLink>

        <NavLink class="nav-link rounded-0" href="/create-post" Match="NavLinkMatch.Prefix">
            <span class="bi bi-plus-circle"></span> Create Post
        </NavLink>
    </nav>
</div>
