@page "/"
@using AdvancedBlazorComponents.Components

<h1 class="mb-4">Welcome to the Lab </h1>
<p>This page shows <strong>Dependency Injection</strong>, <strong>Cascading Parameters</strong>, and <strong>Parent→Child</strong> communication.</p>

<ReusableComponent />
